<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soccer Match Prediction</title>
</head>
<body>
    <h1>Soccer Prediction</h1>
    <hr>
    <br>
    <h2>Enter the values:</h2>
    <br>

    <div class="container">
        <div class="row">
            <div class="col-6">
                <form action="/predict/" method="post">

                    <div class="form-group">
                        <label for="home team"><p class="font-weight-bold"></p></label>
                        <input type="text", name="home team">
                    </div>
                    <div class="form-group">
                        <label for="away team"><p class="font-weight-bold"></p></label>
                        <input type="text", name="away team">
                    </div>
                    <div class="form-group">
                        <label for="half score"><p class="font-weight-bold"></p></label>
                        <input type="text", name="half score">
                    </div>
                    <div class="form-group">
                        <label for="home rating"><p class="font-weight-bold"></p></label>
                        <input type="text", name="home rating">
                    </div>
                    <div class="form-group">
                        <label for="home possession %"><p class="font-weight-bold"></p></label>
                        <input type="text", name="home possession %">
                    </div>
                    <div class="form-group">
                        <label for="home off shot"><p class="font-weight-bold"></p></label>
                        <input type="text", name="home off shot">
                    </div>
                    <div class="form-group">
                        <label for="home on shot"><p class="font-weight-bold"></p></label>
                        <input type="text", name="home on shot">
                    </div>
                    <div class="form-group">
                        <label for="home total shot"><p class="font-weight-bold"></p></label>
                        <input type="text", name="home total shot">
                    </div>
                    <div class="form-group">
                        <label for="home block shot"><p class="font-weight-bold"></p></label>
                        <input type="text", name="home block shot">
                    </div>
                    <div class="form-group">
                        <label for="home corners"><p class="font-weight-bold"></p></label>
                        <input type="text", name="home corners">
                    </div>
                    <div class="form-group">
                        <label for="home throws"><p class="font-weight-bold"></p></label>
                        <input type="text", name="home throws">
                    </div>
                    <div class="form-group">
                        <label for="home pass %"><p class="font-weight-bold"></p></label>
                        <input type="text", name="home pass %">
                    </div>
                    <div class="form-group">
                        <label for="home aerial won"><p class="font-weight-bold"></p></label>
                        <input type="text", name="home aerial won">
                    </div>
                    <div class="form-group">
                        <label for="home clearances"><p class="font-weight-bold"></p></label>
                        <input type="text", name="home clearances">
                    </div>
                    <div class="form-group">
                        <label for="home fouls"><p class="font-weight-bold"></p></label>
                        <input type="text", name="home fouls">
                    </div>
                    <div class="form-group">
                        <label for="home yellow"><p class="font-weight-bold"></p></label>
                        <input type="text", name="home yellow">
                    </div>
                    <div class="form-group">
                        <label for="home second yellow"><p class="font-weight-bold"></p></label>
                        <input type="text", name="home second yellow">
                    </div>
                    <div class="form-group">
                        <label for="home red"><p class="font-weight-bold"></p></label>
                        <input type="text", name="home red">
                    </div>

                    <div class="form-group">
                        <label for="away rating"><p class="font-weight-bold"></p></label>
                        <input type="text", name="away rating">
                    </div>
                    <div class="form-group">
                        <label for="away possession %"><p class="font-weight-bold"></p></label>
                        <input type="text", name="away possession %">
                    </div>
                    <div class="form-group">
                        <label for="away off shot"><p class="font-weight-bold"></p></label>
                        <input type="text", name="away off shot">
                    </div>
                    <div class="form-group">
                        <label for="away on shot"><p class="font-weight-bold"></p></label>
                        <input type="text", name="away on shot">
                    </div>
                    <div class="form-group">
                        <label for="away total shot"><p class="font-weight-bold"></p></label>
                        <input type="text", name="away total shot">
                    </div>
                    <div class="form-group">
                        <label for="away block shot"><p class="font-weight-bold"></p></label>
                        <input type="text", name="away block shot">
                    </div>
                    <div class="form-group">
                        <label for="away corners"><p class="font-weight-bold"></p></label>
                        <input type="text", name="away corners">
                    </div>
                    <div class="form-group">
                        <label for="away throws"><p class="font-weight-bold"></p></label>
                        <input type="text", name="away throws">
                    </div>
                    <div class="form-group">
                        <label for="away pass %"><p class="font-weight-bold"></p></label>
                        <input type="text", name="away pass %">
                    </div>
                    <div class="form-group">
                        <label for="away aerial won"><p class="font-weight-bold"></p></label>
                        <input type="text", name="away aerial won">
                    </div>
                    <div class="form-group">
                        <label for="away clearances"><p class="font-weight-bold"></p></label>
                        <input type="text", name="away clearances">
                    </div>
                    <div class="form-group">
                        <label for="away fouls"><p class="font-weight-bold"></p></label>
                        <input type="text", name="away fouls">
                    </div>
                    <div class="form-group">
                        <label for="away yellow"><p class="font-weight-bold"></p></label>
                        <input type="text", name="away yellow">
                    </div>
                    <div class="form-group">
                        <label for="away second yellow"><p class="font-weight-bold"></p></label>
                        <input type="text", name="away second yellow">
                    </div>
                    <div class="form-group">
                        <label for="away red"><p class="font-weight-bold"></p></label>
                        <input type="text", name="away red">
                    </div>
                    <div class="form-group">
                        <label for="Match Excitement"><p class="font-weight-bold"></p></label>
                        <input type="text", name="Match Excitement">
                    </div>

                    <input type="submit" value="Submit", class="btn btn-primary">

                </form>
            </div>
        </div>
    </div>
    
</body>
</html>