<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediction by ML Model</title>
</head>
<body>
    <h1>Prediction result</h1>
    <hr>
    <div class="card text-center">
        <div class="card-body">
            <p class="card-text">
                <h1>{{prediction}}</h1>
            </p>
            <p><strong>{{statement}}</strong></p>
        </div>
    </div>
</body>
</html>